::selection {
  background: none;
}
::-moz-selection {
  background: none;
}

h2, .hide-button {
  font-weight: normal;
  padding: 0;
  margin: 0 0 0.75em 0;
  box-sizing: border-box;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}
